@page
@model UserImage.Pages.AboutModel
@{
    ViewData["Title"] = "About Us";
}
<section id="main">
    <h2> Good @Model.TimeOfDay, and Welcome to the User Record!</h2>
    <p>Here you will find the user details of test site.</p>
</section>