@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Good @Model.TimeOfDay, and Welcome!</h1>
    <p>uploading image file within the file system in ASP.NET Razor Page.</p>
</div>