@page
@model UserImage.Pages.Users.CreateModel
@{
    ViewData["Title"] = "Create User";
}

    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Add New User</h3>
                        <form method="post" enctype="multipart/form-data">

                            <div asp-validation-summary="All"></div>

                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div data-mdb-input-init class="form-outline">
                                        <input type="text" asp-for="User.FirstName" class="form-control form-control-lg" placeholder="First Name" />
                                        <label class="form-label" asp-for="User.FirstName"></label>
                                        <span asp-validation-for="User.FirstName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div data-mdb-input-init class="form-outline">
                                        <input type="text" asp-for="User.MiddleName" class="form-control form-control-lg" placeholder="Middle Name"/>
                                        <label class="form-label" asp-for="User.MiddleName"></label>
                                        <span asp-validation-for="User.MiddleName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div data-mdb-input-init class="form-outline">
                                        <input type="text" asp-for="User.LastName" class="form-control form-control-lg" placeholder="Last Name" />
                                        <label class="form-label" asp-for="User.LastName"></label>
                                        <span asp-validation-for="User.LastName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>                          
                            <div class="row">
                                <div class="col-md-6 mb-4 d-flex align-items-center">
                                    <div data-mdb-input-init class="form-outline">
                                    <input type="text" asp-for="User.DoB" class="form-control form-control-lg" placeholder="mm/dd/yyyy" /> @* id for jQuery datepicker *@
                                        <label asp-for="User.DoB" class="form-label"></label>
                                        <span asp-validation-for="User.DoB" id="lblError" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <input type="text" asp-for="User.Address" class="form-control form-control-lg" placeholder="City, Street"/>
                                    <label class="form-label" asp-for="User.Address"></label>
                                    <span asp-validation-for="User.Address" class="text-danger"></span>
                                </div>                             
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div data-mdb-input-init class="form-outline">
                                        <input type="text" asp-for="User.Contact" class="form-control form-control-lg" placeholder="Phone Number" />
                                        <label class="form-label" asp-for="User.Contact"></label>
                                        <span asp-validation-for="User.Contact" class="text-danger"></span>
                                    </div>
                                </div>  
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div data-mdb-input-init class="form-outline">
                                        <input asp-for="UserImage" class="form-control" placeholder="" accept=".jpg, .png" />
                                        @* 
                                            - No need to specify type="file" because the input tag helper is bound to an 'IFormFile' property
                                              and the value for the 'type'' attribute will be set to 'file'' automatically.
                                            - accept attribute should limit any file browser on the client to only expose files with the specified extensions.
                                        *@
                                        <label class="form-label" asp-for="UserImage"></label>
                                        <span asp-validation-for="UserImage" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-4 pt-2">
                                <input class="btn btn-primary btn-lg" type="submit" style="width:100px; margin-right:8px;" value="Submit" />
                                <a asp-page="./Index"  class="btn btn-secondary btn-lg " style="width:100px;" value="Back">Back</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section Scripts{
        @{
            <partial name="_ValidationScriptsPartial" />
        }
    }

