/* _content/UserImage/Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-g2shndiy9w] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-g2shndiy9w] {
  color: #0077cc;
}

.btn-primary[b-g2shndiy9w] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-g2shndiy9w], .nav-pills .show > .nav-link[b-g2shndiy9w] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-g2shndiy9w] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-g2shndiy9w] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-g2shndiy9w] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-g2shndiy9w] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-g2shndiy9w] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/UserImage/Pages/Users/Create.cshtml.rz.scp.css */
.gradient-custom[b-x32mn494xj] {
    /* fallback for old browsers */
    background: #f093fb;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1))
}

.card-registration .select-input.form-control[readonly]:not([disabled])[b-x32mn494xj] {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow[b-x32mn494xj] {
    top: 13px;
}
